<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="540" maxRequestLength="3048000"/>
    <sessionState mode="InProc" timeout="10" regenerateExpiredSessionId="false"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITSGS_CS_WCF_Service" />
        <binding name="BasicHttpBinding_ITSGS_CS_WCF_Service1" />
        <binding name="BasicHttpBinding_ITSGS_MLC_Service" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49892/TSGS_CS_WCF_Service"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITSGS_CS_WCF_Service"
        contract="TSGS_CS_WCF_Service.ITSGS_CS_WCF_Service" name="BasicHttpBinding_ITSGS_CS_WCF_Service" />
      <endpoint address="http://localhost:50105/TSGS_MLC_Service.TSGS_MLC_Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITSGS_MLC_Service"
        contract="TSGS_MLC_Service.ITSGS_MLC_Service" name="BasicHttpBinding_ITSGS_MLC_Service" />
    </client>
  </system.serviceModel>
</configuration>